/* Style Global */
body {
    font-family: 'Cormorant Garamond', serif; /* Nouvelle police élégante */
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f2f4f6;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif; /* Utilisation de la police élégante pour les titres */
    color: #3a3a3a;
    margin-bottom: 10px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    padding: 25px; /* Augmentation de l'espacement */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul li {
    margin: 0 40px; /* Espacement plus grand entre les éléments */
}

nav ul li a {
    text-decoration: none;
    color: #5a5a5a;
    font-weight: 700;
    font-size: 1.5em; /* Taille de police augmentée pour un look plus chic */
    transition: color 0.3s ease;
    letter-spacing: 1.5px; /* Espacement des lettres pour plus de lisibilité et élégance */
}

nav ul li a i {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}

nav ul li a:hover {
    color: #8a9ba8;
    border-bottom: 2px solid #b3c2bf;
}


h1 {
    text-align: center;
    margin-top: 50px;
    color: #3a3a3a;
}

.portfolio-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.project {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.project h2 {
    margin: 0;
    color: #3a3a3a;
}

.project p {
    margin: 10px 0;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff; /* Couleur du lien */
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #3a3a3a;
    color: #fff;
}

footer a {
    color: #8a9ba8;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
